.summary-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 163, 240);
  max-width: 900px;
  margin-bottom: 1rem;
  border-style: solid;
  border-radius: 9px;
  box-shadow: 5px 5px;
}

.summary-container:hover {
  cursor: pointer;
}

.dates-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#summary-image {
  width: 100%;
  max-width: 900px;
  max-height: 500px;
  border-radius: 9px;
}
