.summary-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin-bottom: 1rem;
  border-radius: 9px;
}


.dates-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#summary-image {
  width: 100%;
  max-width: 900px;
  max-height: 500px;
  border-radius: 9px;
  opacity: 1;
  transition: opacity 350ms ease;
}

#summary-image:hover{
  cursor: pointer;
  opacity: 0.5;
}


.text-animation:hover{
  cursor: pointer;
  text-decoration: underline;
}