.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 0% auto;
}

.contact-section{
    max-width: 900px;
    width: 100%;
}

.contact-information {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0 1rem;

}

.micro-contact-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.contact-form-container{
  background-color: white;
  width: 100%;
  padding: 2rem;
  border-radius: 9px;
}

.input-field-pair{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.contact-form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

#message-input{
  height: 150px;
  padding: 1rem;
}

.contact-form-input{
  max-width: 350px;
  height: 40px;
  width: 100%;
}
