.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section{
    max-width: 900px;
    width: 100%;
}

.contact-information {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0 1rem;

}


