.footer-container{
    position: relative;
    width: 100%;
    bottom: 0%;
    margin-top: 3rem;
    padding: 0.5rem;
    background-color: rgb(34, 34, 34);
}

.extra-information-section{

    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1100px;
    gap: 15px
}

.icons-section{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.extra-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.basic-link{
    font-size: 24px;
    color: white;
}