.newsletter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-section {
    display: flex;
    flex-direction: column;
  max-width: 900px;
  width: 100%;
}

.search-container{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}
#search{
    border-radius: 9px;
    width: 50%;
}


