
.section-title{
    background-color: rgb(247, 157, 255);
    padding: 1rem;
    width: 100%;
    font-size: 42px;
    text-align: center;
}

.article-title{
    font-size: 42px;
}

p{
    margin: 1rem 0rem;
    font-size: 24px;
}


@media only screen and (max-width: 600px){
    .section-title{
        font-size: 28px;
    }

    .article-title{
        font-size: 28px;
    }
}